* {
	font-family: cursive;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.navbar-brand > img {
	border-radius: 50%;
}

#cards-menu {
	margin-top: 63px;
	background-image: url(./bilder_lucky_duck/brickwall.jpg);
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	border-style: ridge;
}

#cards-menu > div{
    margin-top: 1rem;
}

.carouselExampleIndicators {
	box-sizing: border-box;
}

h1 {
	display: inline;
	font-size: 20px;
	font-weight: 400;
}
