.navbar-brand > img {
	border-radius: 50%;
}

#cards-menu {
	margin-top: 63px;
}

#cards-menu > div {
	margin-top: 1rem;
	max-width: 80ch;
}

.carouselExampleIndicators {
	box-sizing: border-box;
}

h1 {
	display: inline;
	font-size: 1.25rem;
	font-weight: 400;
}

h2 {
	font-size: 0.9rem;
	font-weight: 600;
}